<div class="container-fluid">
    <div class="row">
        {{>navbar}}
        <div class=" col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">THÊM CẶP ĐẤU</div>
             {{#if err}}
            <div class="mt-4 text-center" style="display:block">
                <b style="color:red">1 trong 2 đội bóng đã nhập không tồn tại</b>
            </div>
            {{/if}}
            <div class="container mt-4 align-items-center">
                <div class="row ">
                    <div class="col-md-10 mx-auto">
                        <div>
                            <form method="POST" action="/set-up-schedule/store">

                                <div class="mb-3">
                                    <label for="round" class="form-label">Vòng đấu</label>
                                    <input type="text" class="form-control" id="round" name="round">
                                </div>
                                <div class="mb-3">
                                    <label for="slugFirst" class="form-label">ID đội bóng 1</label>
                                    <input type="text" class="form-control" id="slugFirst" name="slugFirst">
                                </div>
                                <div class="mb-3">
                                    <label for="slugSecond" class="form-label">ID đội bóng 2</label>
                                    <input type="text" class="form-control" id="slugSecond" name="slugSecond">
                                </div>
                                <div class="mb-3">
                                    <label for="date" class="form-label">Ngày thi đấu</label>
                                    <input type="text" class="form-control" id="date" name="date">
                                </div>
                                <div class="mb-3">
                                    <label for="stadium" class="form-label">Sân thi đấu</label>
                                    <input type="text" class="form-control" id="stadium" name="stadium">
                                </div>

                                <div style="display:none">
                                    <label for="firstScore"></label>
                                    <input type="number" name="firstScore" value="0">
                                    <label for="secondScore"></label>
                                    <input type="number" name="secondScore" value="0">
                                    <label for="teamWin"></label>
                                    <input type="text" name="teamWin" value="tie">
                                </div>


                                <div class="mt-4 text-center">
                                    <button type="submit" class="btn btn-primary">Lưu lại</button>
                                </div>


                            </form>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

