.random_gradient {
  background: #020024;
  background: linear-gradient(90deg, #020024 0%, #4f0979 0%, #603394 0%, #5e3796 0%, #348894 0%, #5c3b98 0%, #bda9eb 0%, #4e52a8 100%, #00b8de 100%); }

.custom_navbar_item {
  width: 100%; }

.custom_navbar_item:hover {
  background-color: darkgray;
  font-weight: 500; }

.custom_navbar_item_logout {
  width: 100%;
  color: red; }

.custom_navbar_item_logout:hover {
  background-color: red;
  color: white; }

.section_title {
  text-align: center;
  margin-top: 20px;
  font-size: x-large;
  font-weight: bold;
  background-color: #F7C7FF;
  padding: 10px 10px 10px 10px; }

.form-label {
  max-width: 150px; }

.form-control {
  max-width: 250px;
  height: 30px; }

/* The popup form - hidden by default */
.form-popup {
  display: none;
  position: fixed;
  left: 50%;
  top: 50px;
  align-items: center;
  border: 3px solid #f1f1f1; }

/* Add styles to the form container */
.form-container {
  max-width: 500px;
  padding: 10px;
  background-color: white; }

/* Full-width input fields */
.form-container input[type=text], .form-container input[type=password] {
  width: 100%;
  padding: 15px;
  margin: 5px 0 22px 0;
  border: none;
  background: #f1f1f1; }

/* When the inputs get focus, do something */
.form-container input[type=text]:focus, .form-container input[type=password]:focus {
  background-color: #ddd;
  outline: none; }

/* Set a style for the submit/login button */
.form-container .btn {
  background-color: #04AA6D;
  color: white;
  padding: 16px 20px;
  border: none;
  cursor: pointer;
  width: 100%;
  margin-bottom: 10px;
  opacity: 0.8; }

/* Add a red background color to the cancel button */
.form-container .cancel {
  background-color: red; }

/* Add some hover effects to buttons */
.form-container .btn:hover, .open-button:hover {
  opacity: 1; }
