<div style="background-color:lightgrey; padding-left:0;padding-right:0" class="col-sm-auto">
    <div style="position:sticky;top:71.5px" class="d-flex flex-sm-column flex-row flex-nowrap">
        {{! <a href="/" class="d-block p-3 text-decoration-none" title="" data-bs-toggle="tooltip"
            data-bs-placement="right" data-bs-original-title="Icon-only">
            <i class="bi-bootstrap fs-1"></i>
        </a> }}

        <div class="custom_navbar_item">
            <a href="/home/registration-form" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">REGISTRATION FORM</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/home/set-up-schedule" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">SET UP SCHEDULE</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/home/match-results" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">MATCH RESULTS</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/home/searching-for-player" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">SEARCHING FOR PLAYER</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/home/tournament-report" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">TOURNAMENT REPORT</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/home/rules-changing" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">RULES CHANGING</p>
            </a>
        </div>
        <div class="custom_navbar_item_logout">
            <a href="/log-in" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">LOG OUT</p>
            </a>
        </div>

    </div>
</div>