<div style="min-height:100vh;background-color:lightgrey; padding-left:0;padding-right:0;" class="col-lg-auto">
    <div  class="d-flex flex-sm-column flex-row flex-nowrap">
       
        <div class="custom_navbar_item">
            <a  href="/registration-form" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">ĐĂNG KÝ ĐỘI BÓNG</p>
                
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/set-up-schedule" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">ĐẶT LỊCH THI ĐẤU</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/match-results" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">KẾT QUẢ TRẬN ĐẤU</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/searching-for-player" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">TÌM CẦU THỦ</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/tournament-report" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">BÁO CÁO GIẢI</p>
            </a>
        </div>
        <div class="custom_navbar_item">
            <a href="/rules-changing" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip"
                data-bs-placement="right" data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">THAY ĐỔI LUẬT LỆ</p>
            </a>
        </div>
        <div class="custom_navbar_item_logout">
            <a href="/home/log-out" class="nav-link py-2 px-2" title="" data-bs-toggle="tooltip" data-bs-placement="right"
                data-bs-original-title="Products">
                <p style="font-size:1rem" class="bi-heart">ĐĂNG XUẤT</p>
            </a>
        </div>

    </div>
</div>