<div class="container-fluid">
    <div class="row">
        

        {{>navbar}}
        <div class="col-sm p-3 min-vh-100" style="background-image:url(./playground_assets/rectangle1129-0ahg-800h.png)">
        </div>
    </div>
</div>