<body class="random_gradient">
  <div class="container-fluid h-custom">
    <div class=" row d-flex justify-content-center align-items-center">
      
      <div  class="col-md-8 col-lg-8 col-xl-4">
        <form method="POST" action="/log-in/check">
          <!-- Email input -->
          <div class="form-outline mb-3">
            <label for="username">USERNAME</label>
            <input type="text" id="username" class="form-control" name="username"
              placeholder="Enter your username" />
            
          </div>

          <!-- Password input -->
          <div class="form-outline mb-3">
            <label for="password">PASSWORD</label>
            <input type="password" id="password" class="form-control" name="password"
              placeholder="Enter your password" />   
          </div>

          

          <a href="/main" class="text-center text-lg-start mt-4 pt-2">
            <button class="btn btn-primary btn-lg"
              style="padding-left: 2.5rem; padding-right: 2.5rem;">LOGIN</button  >
          </a>

        </form>
      </div>
      <div class="col-md-8 col-lg-8 col-xl-5">
        <img src="./playground_assets/juniorsoccerrafiki1124-zicv-600w.png"
          class="img-fluid" width="600" height="600" alt="Sample image">
      </div>
    </div>
  </div>
 
</body>