<div class="container-fluid">
    <div class="row">
        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">THAY ĐỔI LUẬT LỆ</div>
            <div class=" mt-4 me-2 mb-4 ms-2 row">
                {{#if err}}
                <div class="mt-4 text-center" style="display:block">
                    <b style="color:red">Các dữ liệu đã nhập không hợp lệ</b>
                </div>
                {{/if}}
                {{#each rules}}
                <div class="col-sm-3 mt-4 me-4 ms-4 mb-4">
                    <div class="card">
                        <a href="/rule/{{this.slug}}">
                            <img style="max-height:100px" width="50%" class="card-img-top img-fluid"
                                src="https://media.geeksforgeeks.org/wp-content/uploads/20210724024414/135deg2-660x322.png"
                                alt="Card image cap">
                        </a>
                        <div style="max-height:400px" class="card-block">
                            <h3 class="mt-2 card-text text-center fw-bold">{{this.name}}</h3>
                            <p class="me-1 ms-2 text-left">{{this.description}}</p>
                        </div>

                    </div>
                </div>
                {{/each}}

            </div>
        </div>
    </div>
</div>