<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">THAY ĐỔI LUẬT LỆ</div>
            
            <div class="d-flex mt-4 hidden">
                <div class="card me-4 ms-4" style="width: 18rem;">
                    <div style="background-color:red" width="100%" height="200px">
                        <p class="text-center fw-bold justify-content-center align-items-center">LUẬT 1</p>
                    </div>
                    <div class="text-center">
                        data

                    </div>
                </div>
               <div class="card me-4 ms-4" style="width: 18rem;">
                    <div style="background-color:red" width="100%" height="200px">
                        <p class="text-center fw-bold justify-content-center align-items-center">LUẬT 1</p>
                    </div>
                    <div class="text-center">
                        data

                    </div>
                </div>
                <div class="card me-4 ms-4" style="width: 18rem;">
                    <div style="background-color:red" width="100%" height="200px">
                        <p class="text-center fw-bold justify-content-center align-items-center">LUẬT 1</p>
                    </div>
                    <div class="text-center">
                        data

                    </div>
                </div>
                
                
               




            </div>

        </div>
    </div>
</div>