<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">TRA CỨU CẦU THỦ</div>
            <form id="targetForm" method="GET" class="ms-4 mt-4 mb-4" action="/searching-for-player/search">
                <div class="row">
                    <div style="max-width:450px" class="col ">
                        <div class="row">
                            <div style="max-width:120px" class="col">
                                <label for="name" class="form-label">Tên cầu thủ</label>

                            </div>
                            <div style="max: width 250px" class="col">

                                <input type="text" class="form-control" id="name" name="name">
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                    </div>




                </div>
            
            </form>
           
        </div>
    </div>
</div>

<script>

</script>