<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">BẢNG XẾP HẠNG CẦU THỦ</div>
            <div class="mt-4" style="justify-content:right;align-items:right;text-align:right">
                <a href="/tournament-report">
                    <button class=" btn btn-primary check-all-submit-btn">Câu lạc bộ</button>
                </a>
                <a href="/tournament-report/sub">
                    <button class=" btn btn-primary check-all-submit-btn">Cầu thủ</button>
                </a>
            </div>
           
            <table class="table mt-4">
                <div class="mt-4"><b>Kết quả hiện tại</b></div>
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên cầu thủ</th>
                        <th scope="col">Tên đội</th>
                        <th scope="col">Loại cầu thủ</th>
                        <th scope="col">Số bàn thắng</th>
                        
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

