<div class="container-fluid">
    <div class="row">
        

        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
        <div class="section_title">BÁO CÁO GIẢI ĐẤU</div>
        
        <table class="table mt-4">
            <div class="mt-4"><b>Kết quả hiện tại</b></div>
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Tên đội bóng</th>
                        <th scope="col">Số trận thắng</th>
                        <th scope="col">Số trận thua</th>
                        <th scope="col">Số trận hòa</th>
                        <th scope="col">Hiệu số</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>