<div class="container-fluid">
    <div class="row">
        {{>navbar}}
        <div class=" col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">{{rule.name}}</div>
            <div class="container mt-4 align-items-center">
                <div class="row ">
                    <div class="col mx-auto">
                        <form method="POST" >
                            <div class="mb-3">
                                <label for="maxScoreTime" class="form-label">Thời điểm ghi bàn tối đa (Theo phút): </label>
                                <input type="text" class="form-control"  id="maxScoreTime" name="maxScoreTime" value="{{rule.maxScoreTime}}">
                            </div>
                            <div class="mb-3 text-center fw-bold">
                                <p>Nội dung: {{rule.description}}</p>
                            </div>
                            
                           
                           

                            <div class="mt-4 text-center">
                                <button type="submit" class="btn btn-primary">Lưu lại</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>