<div class="container-fluid">
    <div class="row">


        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
            <div class="section_title">TRA CỨU CẦU THỦ</div>
            <form class="mt-4 mb-4">
                <div class="row">
                    <div style="max-width:450px" class="col ">
                        <div class="row">
                            <div style="max-width:120px" class="col">
                                <label for="exampleInputEmail1" class="form-label">Tên cầu thủ</label>

                            </div>
                            <div style="max: width 250px" class="col">

                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-sm btn-primary">Tìm kiếm</button>
                    </div>




                </div>

            </form>
            <div class="d-flex hidden">
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK2nG24AYDm6FOEC7jIfgubO96GbRso2Xshu1f8abSYQ&s"
                        class="card-img-top" alt="..." height="100%" width="100%">
                    <div class="card-body  text-center">
                        <h5 class="card-title">Tên</h5>
                        <p>Câu lạc bộ: </p>

                    </div>
                </div>
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK2nG24AYDm6FOEC7jIfgubO96GbRso2Xshu1f8abSYQ&s"
                        class="card-img-top" alt="..." height="100%" width="100%">
                    <div class="card-body  text-center">
                        <h5 class="card-title">Tên</h5>
                        <p>Câu lạc bộ: </p>

                    </div>
                </div>
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK2nG24AYDm6FOEC7jIfgubO96GbRso2Xshu1f8abSYQ&s"
                        class="card-img-top" alt="..." height="100%" width="100%">
                    <div class="card-body  text-center">
                        <h5 class="card-title">Tên</h5>
                        <p>Câu lạc bộ: </p>

                    </div>
                </div>
                <div class="card me-4" style="width: 18rem;">
                    <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTK2nG24AYDm6FOEC7jIfgubO96GbRso2Xshu1f8abSYQ&s"
                        class="card-img-top" alt="..." height="100%" width="100%">
                    <div class="card-body  text-center">
                        <h5 class="card-title">Tên</h5>
                        <p>Câu lạc bộ: </p>

                    </div>
                </div>
                




            </div>

        </div>
    </div>
</div>