<div class="container-fluid">
    <div class="row">


        {{>navbar}}
       <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
        <div class="section_title">SEARCHING FOR PLAYER</div>
            <form class="mt-4 mb-4">
                <div class="row">
                    <div style="max-width:450px" class="col ">
                        <div class="row">
                            <div style="max-width:150px" class="col">
                                <label for="exampleInputEmail1" class="form-label">Player's name</label>

                            </div>
                            <div style="max-width:300px" class="col">

                                <input type="email" class="form-control" id="exampleInputEmail1"
                                    aria-describedby="emailHelp">
                            </div>
                        </div>
                    </div>

                    <div class="col">
                        <button type="submit" class="btn btn-primary">Search</button>
                    </div>




                </div>

            </form>

            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3>Name</h3>
                            <p>Date of birth</p>
                            <p>Team</p>
                            <p>Type</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="card mb-3" style="max-width: 500px;">
                <div class="row g-0">
                    <div class="col-md-4">
                        <img src="..." class="img-fluid rounded-start" alt="...">
                    </div>
                    <div class="col-md-8">
                        <div class="card-body">
                            <h3>Name</h3>
                            <p>Date of birth</p>
                            <p>Team</p>
                            <p>Type</p>
                        </div>
                    </div>
                </div>
            </div>
          
           
        </div>
    </div>
</div>