<div class="container-fluid">
    <div class="row">
        

        {{>navbar}}
       <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
        <div class="section_title">SET UP SCHEDULE</div>
        <div class="mt-4">
                <button class=" btn btn-primary btn-sm check-all-submit-btn" onclick="openForm()">Add one match</button>
            </div>
        <div class="mt-4"><b>Match Info</b></div>
          <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Team 1</th>
                        <th scope="col">Team 2</th>
                        <th scope="col">Date</th>
                        <th scope="col">Stadium</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>