<div class="container-fluid">
    <div class="row">
        

        {{>navbar}}
        <div class="col-sm min-vh-100" style="background-color:#FFF2FF">
        <div class="section_title">TOURNAMENT REPORT</div>
        <div class="mt-4"><b>Result</b></div>
        <table class="table mt-4">
                <thead style="text-align:center">
                    <tr>
                        <th scope="col">STT</th>
                        <th scope="col">Team</th>
                        <th scope="col">Wins</th>
                        <th scope="col">Loses</th>
                        <th scope="col">Ties</th>
                        <th scope="col">HS</th>
                    </tr>
                </thead>
                <tbody style="text-align:center">
                    <tr>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                        <td>data</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>